body{
    margin:0;
    padding:0;
}
#NavNodesCanvasMain {
    background-color:rgba(20,20,20,0.2);
}

#buttonContainer {
    display:block;
    /*margin:auto;*/
    margin-top:50px;
    text-align: left;
}

#bottomUI {
    background-color: blue;
    margin-top: 15px;
    height: 275px;
}

.col-sm {
    padding: 0px;
    text-align: center;
    margin: 0 auto;
}

.button {
    background-color: #00c763;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:50px;
}

.button:hover {
    background-color: #049e51;
    transition: 0.5s;
}

#currBookSelected {
    width: 300px;
}

.saveButton {
    /* Other default styles here */
    transition: 0.5s;
}

._disabled {
    opacity: 0.5;
}

.d-block {
    margin-top: 5px;
    border-radius: 4px;
}

#pathButton {
    border-radius: 4px;
    width: 150px;
}

#allPathButton {
    margin-top: 5px;
    border-radius: 4px;
    width: 150px;
}

#deleteNodeButton {
    background-color: #f45042;
}

#savePrompt {
    background-color: white;
    padding: 2px;
    position: absolute;
    text-align: left;
    width: 130px;
    margin-top: 581px;
    font-size: 10px;
}

#modalBlack {
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 10000;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#modalWhite {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10001;

    width: 400px;
    height: 340px;

    margin-top: -250px;
    margin-left: -200px;
    border-radius: 15px;
    background-color: white;

    transition: all 0.5s ease;
}

#modalContent {
    text-align: center;
    margin-top: 10%;   
}

#modalImg {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% { -webkit-transform: rotate(360deg);}
    100% { -webkit-transform: rotate(0deg);}
}

.center {
    position: relative;
    display: inline-block;
    left: 21%;
    margin-top: 12%;
    transform: translate(-50%);
}

.hidden {
    width:0px;
    height:0px;
    transition: all 0.3s ease-in-out;
}