/html/zips/*
/html/schools/*
/html/deletedBooks/*
/html/units/*
/html/books/*
/html/deletedChildren/*
/html/series/*
/html/deletedSeries/*
/html/map/*
html/config.php
/nbproject/private/


!*/.gitkeep
!*/*/.gitkeep