[submodule "html/pubbly_engine"]
	path = html/pubbly_engine
	url = https://github.com/PubblyDevelopment/pubbly_engine
[submodule "html/--force"]
	path = html/--force
	url = https://github.com/PubblyDevelopment/pubbly_engine
